<div class="content__padding">
    <form method="POST" action="store">
        <select class="form-select mb-3" name="type">
            <option class="form__item">Chó hay mèo</option>
            <option class="form__item" value="dog">Chó</option>
            <option class="form__item" value="cat">Mèo</option>
        </select>
        <div class="mb-3 form-group">
            <label for="name" class="form-label">Tên:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3 form-group">
            <label for="kind" class="form-label">Giống loài:</label>
            <input type="text" class="form-control" id="kind" name="kind">
        </div>
         <div class="mb-3 form-group">
            <label for="age" class="form-label">Tuổi:</label>
            <input type="text" class="form-control" id="age" name="age">
        </div>
        <div class="mb-3 form-group">
            <label for="price" class="form-label">Giá:</label>
            <input type="text" class="form-control" id="price" name="price">
        </div>
        <div class="mb-3 form-group">
            <label for="img" class="form-label">Hình ảnh đại diện:</label>
            <input type="text" class="form-control"  id="img" name="img">
        </div>
        <div class="mb-3 form-group">
            <label for="img" class="form-label">Hình ảnh chi tiết 1:</label>
            <input type="text" class="form-control"  id="img" name="img1">
        </div>
        <div class="mb-3 form-group">
            <label for="img" class="form-label">Hình ảnh chi tiết 2:</label>
            <input type="text" class="form-control"  id="img" name="img2">
        </div>
        <div class="mb-3 form-group">
            <label for="img" class="form-label">Hình ảnh chi tiết 3:</label>
            <input type="text" class="form-control"  id="img" name="img3">
        </div>
        <div class="mb-3 form-group">
            <label for="img" class="form-label">Hình ảnh chi tiết 4:</label>
            <input type="text" class="form-control"  id="img" name="img4">
        </div>
        
        <button type="submit" class="btn btn-primary form-btn">Tạo mới</button>
    </form>
</div>