<div class="content__padding">
    <form method="POST" action="store">
        <select class="form-select p-3" name="type">
            <option >Chọn loại thức ăn</option>
            <option value="dog">Chó</option>
            <option value="cat">Mèo</option>
        </select>
        <div class="mb-3 form-group">
            <label for="name" class="form-label">Tên loại thức ăn:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3 form-group">
            <label for="price" class="form-label">Giá:</label>
            <input type="text" class="form-control" id="price" name="price">
        </div>
        <div class="mb-3 form-group">
            <label for="brand" class="form-label">Thương hiệu:</label>
            <input type="text" class="form-control" id="brand" name="brand">
        </div>
        <div class="mb-3 form-group">
            <label for="weigh" class="form-label">Khối lượng:</label>
            <input type="text" class="form-control" id="weigh" name="weigh">
        </div>
        <div class="mb-3 form-group">
            <label for="img" class="form-label">Hình ảnh:</label>
            <input type="text" class="form-control"  id="img" name="img">
        </div>
        <button type="submit" class="btn btn-primary form-btn">Tạo mới</button>
    </form>
</div>