<div class="container content__padding">
    <div class="container">
        <div class="row">
        {{#each pets}}
            <div class="col-sm-12 col-md-6 col-lg-3">
                <li class="scrollbar-item">
                <div class="category-card product__pet">

                    <figure class="card-banner img-holder product__pet-img">
                    <a href="/pets/{{this.slug}}"> 
                        <img src="{{this.img}}" 
                            class="img-cover ">
                    </a>
                    </figure>

                    <a href="/pets/{{this.slug}}">
                    <h3 class="h3 card-title">{{this.name}}</h3>
                    </a>

                </div>
                </li>
            </div>
        {{/each}}
    </div>


</div>


    </div>

</div>