  <header class="bg-dark p-2 fixed-top">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <div class="container">
        <a class="navbar-brand logo" href="#">Pet shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="#product__dog">Boss</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#product__cat">Hoàng thượng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#dog__food">Thức ăn cho Boss</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#cat__food">Thức ăn cho Hoàng thượng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Liên hệ</a>
            </li>
          </ul>
          <form class="header__account text-light">
            <input class="form-control" type="text" placeholder="Search">
            <a href="" class="header__account-icon">
              <i class="ri-search-line"></i>
            </a>
            <a href="" class="header__account-icon">
              <i class="ri-user-3-line"></i>
            </a>
            <a href="" class="header__account-icon">
              <div class="header__account-badge">
                <i class="ri-shopping-bag-line"></i>
                <span class="header__account-quality">0</span>
              </div>
              
            </a>
          </form>
        </div>
      </div>
    </nav>
    
  </header>
