  <header class="bg-dark p-2">
    <nav class="navbar navbar-expand-sm navbar-dark">
      <div class="container">
        <a class="navbar-brand logo" href="/">Pet shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/pets/boss">Boss</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pets/cat">Hoàng thượng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/foods/food-dog">Thức ăn cho Boss</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/foods/food-cat">Thức ăn cho Hoàng thượng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#footer">Liên hệ</a>
            </li>
          </ul>
          <div class="header__account text-light">
            <div class="header__search">
              <form method="GET" action="search">
                
                <input type="text" class="header__search-input" name="q"  placeholder="Sen muốn tìm gì?"> 
                <button type="submit"><i class="ri-search-line header__search-icon"></i></button>
              </form>
              {{!-- <section id="searchResults"></section> --}}
            </div>
            
            {{!-- <div class="header__user">
            
              <a href="" class="header__account-icon">
                <i class="ri-user-3-line"></i>
              </a>
              <div class="header__user-detail">
                <h4>Tài khoản</h4>
                <div class="header__user-option">
                  <a href="/user/login">Đăng nhập</a>
                  <span>|</span>
                  <a href="/user/register">Đăng ký</a>
                </div>
              
              </div>

              
            </div> --}}
            
            <div class="header__user">
              <a href="/checkout/cart" class="header__account-icon">
                <i class="ri-shopping-bag-line"></i>
              </a>
              <div class="header__user-detail">
                <a href="/checkout/cart"><h5 class="header__user-cart">Giỏ hàng</h5></a>
                <div class="header__user-option">
                  <a href="/checkout/cart" class="cart-quantity">{{counts}} sản phẩm</a>
                </div>
          
              </div>

              
            </div>
          </div>
        </div>
      </div>
    </nav>
    
  </header>

  <script>

    {{!-- function sendData(e){
      const searchResults = document.getElementById('searchResults')
      let match = e.value.match(/^[a-zA-Z]*/)
      let match2 = e.value.match(/\s*/)
      if(match2[0] == e.value){
        searchResults.innerHTML = ''
        return
      }
      if(match[0] === e.value){
          fetch('search',  {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({payload: e.value})
        }).then(res => res.json()).then(data => {
          let payload = data.payload
          searchResults.innerHTML = ''
          if(payload.length < 1){
            searchResults.innerHTML = '<p>Không tìm thấy!!!</p>'
            return
          }
          payload.forEach((item, index) => {
            if(index > 0) searchResults.innerHTML += '<hr>'
            searchResults.innerHTML += `<p>${item.name}</p>`
          })
        })
        return
      }
      searchResults.innerHTML = ''
      
    } --}}
 
  </script>
